<html>

<head>
  <title>{% block title %}BoaSMS{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bootstrap-1.2.0.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/db.css" type="text/css">
  {% block extrastyle %}
  {% endblock %} 
</head>
<body>

<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <h3><a href="/admin">BoaSMS</a></h3>
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Apps</a> 
          <ul class="dropdown-menu"> 
            {% for app in apps %}
            <li><a href="/admin/app/{{ app.namespace }}/">{{ app.namespace }}</a></li> 
            {% endfor %}
            <li class="divider"></li> 
            <li><a href="/admin/app/">All Apps</a></li> 
          </ul>         
        </li>
        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle">Collections</a> 
          <ul class="dropdown-menu"> 
            {% for collection in collections %}
            <li><a href="/db/{{ collection.name }}/">{{ collection.name }}</a></li> 
            {% endfor %}
            <li class="divider"></li> 
            <li><a href="/db/">All Collections</a></li> 
          </ul> 
        </li> 
      </ul> 
      {% block actions %}
      {% endblock %}
    </div>
  </div>
</div>

<div class="container" style="padding-top:10px">
{% block beforecontent %}
{% endblock %}

{% block content %}
{% endblock %}

        <div id="promptDialog" class="modal" style="width:310px;display:none;position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1"> 
          <div class="modal-header"> 
            <h3 id="prompt">Modal Heading</h3> 
            <a href="#" id="promptClose" class="close">&times;</a> 
          </div> 
          <div class="modal-body">          	
          	<p id="promptDescription"></p>
          	<input id="promptResult" class="xlarge" style="margin:0 auto;height:30px" type="text" size="30">            
          </div> 
          <div class="modal-footer"> 
            <a href="#" id="promptOk" class="btn primary">Ok</a> 
            <a href="#" id="promptCancel" class="btn secondary">Cancel</a> 
          </div> 
        </div> 


<script src="/static/js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/json2.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/mode-json.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/beautify.js" type="text/javascript" charset="utf-8"></script>
<script>
 $("body").bind("click", function (e) {
  $('.dropdown-toggle, .menu').parent("li").removeClass("open");
  });
  $(".dropdown-toggle, .menu").click(function (e) {
  var $li = $(this).parent("li").toggleClass('open');
  return false;
  });
  
  function promptString(prompt, description, handler) {  
  	
  	promptHandler = handler;
  	
  	$("#prompt").text(prompt);    
    if (description) {
    	var desc = $("#promptDescription");
    	desc.text(description);
    	desc.show();
    } else {
		$("#promptDescription").hide();
	}
  	$("#promptDialog").show();
  	$("#promptResult").focus();
  }
  
  function submitPrompt() {
  	if (promptHandler) {
  		promptHandler($("#promptResult").val());
  		$("#promptDialog").hide();
  	}
  }
  
  $(document).ready(function() {
  	$("#promptOk").click(function() {
  		submitPrompt();
  	});
  	
  	$("#promptCancel").click(function() {
  		$("#promptDialog").hide();
  	});
  	
  	$("#promptClose").click(function() {
  		$("#promptDialog").hide();
  	});
  	
  	$("#promptResult").keypress(function(e){
      	if(e.which == 13){
      	   submitPrompt();
     	}
    });
    
  });
  
  
  
</script>

{% block extrascript %}
{% endblock %}

</body>

</html>
