
Hello World Template

<pre>
url: <%= url %>
method: <%= method %>

<form method="POST">
  <input type="text" name="post"></input>
  <input type="submit" value="Save"></input>
</form>
</pre>

<% for (var i=0; i<data.records.length; i++) { %>
	<%= data.records[i].post %> at <%= data.records[i].date %><br/>
<% } %>

