{! extends "../base.html" !}

{% block extrastyle %}
{% end block %}

{% block actions %}
{% endblock %}

{% block aftercontent %}
<div id="editor_window" class="modal" style="display: none">
  <div class="modal-header">
    <h3 id="editor_title">Edit Record</h3>
  </div>
  <div class="modal-body" id="editor-body">
    <div id="editor_help">
      <h3>JSON Records</h3>
      <p>All records are saved as plain JSON in the database.  You can choose to create indexes on root level attributes for querying.</p>
      <p>The JSON format is strict, you'll need to include quotes around your attribute names and remove extra commas, for example:</p>
      <pre>
{
  "first": "John",
  "last": "Doe",
  "age": 32,
}</pre>
      <p>Unique numerical  ids are automatically created for new records as they are inserted.</p>
    </div>
    <pre id="editor">{{ json|escape }}</pre>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary" id="save_button">save</a>
    <a href="#" class="btn" id="cancel_button">cancel</a>
  </div>
</div>

<div id="mask">
</div>

<form method="post" id="form">
  <input type="hidden" value="" name="json" id="json"></input>
</form>
{% endblock %}

{% block extrascript %}
<script>


var editor = null;

function showEditor(title){
  $("#editor_title").text(title);

  $("#mask").css({ width: $(window).width(), height: $(window).height() });
  $("#mask").show();
  $("#editor_window").show();

  if (!editor){
    var opts = { indent_size: 1, indent_char: '\t' };
    res = js_beautify($("#editor").text(), opts)
    $("#editor").text(res);

    editor = ace.edit("editor");
    editor.setShowPrintMargin(false);
    var JSONMode = require("ace/mode/json").Mode;
    editor.getSession().setMode(new JSONMode());

    var text = editor.getSession().getValue();
    if (text.length == 0){
      editor.getSession().setValue("{\n\n}");
      editor.gotoLine(2);
    }
    editor.focus();
  }
}

$(document).ready(function(){
  $("#mask").click(function(){
    $("#mask").hide();
    $("#editor_window").hide();
  });

  $("#cancel_button").click(function(event){
    event.preventDefault();
    $("#mask").hide();
    $("#editor_window").hide();
  });

  $("#save_button").click(function(event){
    try {
      // this will throw if their json is invalid
      JSON.parse(editor.getSession().getValue());
      $("#json").val(editor.getSession().getValue());
      $("#form").submit();
    } catch(e) {
      // warn them if so
      alert("Your JSON contains a syntax error, please try again.");
      editor.focus();
    }
    event.preventDefault(); 
  });
});
</script>

{% endblock %}

</body>

</html>
