{% extends "db/base.html" %}

{% block extrastyle %}
{% endblock %}

{% block content %}
<div id="table_container">

<div id="table_header" class="gradient">
  <div class="buttons right">
    <a href="#" class="small button" id="add_button">add</a>
  </div>
  <h2>dbs</h2>
</div>

<div id="table_contents">
<table width="100%" cellspacing=0 cellpadding=0>
<tr>
  <th>name</th>
  <th>size</th>
</tr>

{% for collection in collections %}
<tr class="collection_row {% cycle 'row1','row2' %}" name="{{ collection.name }}">
  <td>{{ collection.name }}</td>
  <td>{{ collection.size }}</td>
</tr>
{% endfor %}

</table>

<div id="table_footer" class="gradient">
  <h2>
    {{ collections|length }} collections
  </h2>
</div>

</div>

<form id="add_form" method="POST">
  <input type="hidden" name="name" value="" id="collection_name"></input>
</form>

{% endblock %}

{% block extrascript %}
<script>
  $(document).ready(function(){
    $(".collection_row").click(function(){
      document.location.href = "/db/" + $(this).attr("name") + "/";
    });


    $("#add_button").click(function(event){
      event.preventDefault();
      var name = prompt("Enter new collection name:");
      if (name){
        $("#collection_name").val(name);
        $("#add_form").submit();
      }
    });
  });
</script>
{% endblock %}
