{% extends "db/base.html" %}

{% block actions %}
<ul class="secondary-nav">
  <li class="dropdown"> 
    <a href="#" class="dropdown-toggle">Actions</a> 
    <ul class="dropdown-menu">
      <li><a href="#" id="add_button">Add Record</a></li>
      <li><a href="#" id="delete_button">Delete Collection</a></li>
    </ul>
  </li> 
</ul>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ collection.name }}</h1>
</div>

<table class="zebra-striped">
  <thead>
    <tr>
      <th width="40">id</th>
      {% for key in keys %}
      <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for record in records %}
    <tr class="record_row {% cycle 'row1','row2' %}" record_id="{{ record.id }}">
      <td>{{ record.id }}</td>
      {% for key in keys %}
      <td>{{ record|get:key }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<form id="delete_form" method="POST" action="/db/{{collection.name}}/delete/">
</form>
{% endblock %}

{% block extrascript %}
<script>
  $(document).ready(function(){
    $(".record_row").click(function(){
      document.location.href = "/db/{{collection.name}}/" + $(this).attr("record_id") + "/";
    });

    $("#add_button").click(function(event){
      event.preventDefault(); 
      showEditor("Add Record");
    });

    $("#delete_button").click(function(event){
      if (confirm("Remove collection?")){
        $("#delete_form").submit();
      }
      event.preventDefault();
    });
  });
</script>
{% endblock %}
