{! extends "base.html" !}

{! block actions !}
<ul class="secondary-nav">
  <li class="dropdown"> 
    <a href="#" class="dropdown-toggle">Actions</a> 
    <ul class="dropdown-menu">
      <li><a href="#" id="remove_button">Remove App</a></li>
    </ul>
  </li> 
</ul>
{! endblock !}

{! block content !}

<div class="page-header">
  <h1><a href="/admin/app/{{ app.namespace }}/">{{ app.namespace }}</a></h1>
</div>

<div class="row">

  <div class="span6 columns">
	<table class="zebra-striped">
      <thead>
        <tr>
          <th>Files</th>
        </tr>
      </thead>  
      <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="span1 columns">&nbsp;</div>

  <div class="span6 columns">
	  <div class="sidebox">
		  Files are neat
	  </div>	  
  </div>


</div>

<div class="row">

  <div class="span6 columns">
	<table class="zebra-striped">
      <thead>
        <tr>
          <th>Collections</th>
        </tr>
      </thead>  
      <tbody>
      {% for coll in app_collections %}
        <tr>
          <td>{{ coll.name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
	
  <div class="span1 columns">&nbsp;</div>

  <div class="span6 columns">
	  <div class="sidebox">
	  	<b>Quick Tip</b><br/>
		  It's easy to add a collection to your Boa application, just add a call to <code>ensureCollection("my_coll")</code> to your app's <i>main.js</i> file.<br/><br/>
		  
		  You can add as many collections as you like to your application.
	  </div>	
  </div>

</div>

{! endblock !}

{! block extrascript !}

<form id="remove_form" method="POST">
  <input type="hidden" name="remove" value="{{app.namespace}}"></input>
</form>

<script>
  $(document).ready(function(){
  $("#remove_button").click(function(event){
      event.preventDefault(); 
      confirm("Remove {{app.namespace}}", "Are you sure you want to remove your app? Once you remove it, it will be gone forever.", "Remove App", function(){ 
      	console.log("Confirmed!");
      	$("#remove_form").submit();
      });
    });
  });
</script>
{! endblock !}
