<html>

<head>
  <title>{% block title %}DB Browser{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/db.css" type="text/css" /> 
  {% block extrastyle %}{% endblock %} 
</head>
<body>
{% block beforecontent %}
{% endblock %}

{% block content %}
{% endblock %}

{% block aftercontent %}
<div id="editor_window" style="display:none;">
  <div id="editor_header" class="gradient">
    <div class="buttons right">
      <a href="#" class="small button" id="save_button">save</a>
    </div>
    <h2 id="editor_title">Edit</h2>
  </div>

  <div>
  <pre id="editor">{{ json|escape }}</pre>
  </div>
</div>

<div id="mask">
</div>

<form method="post" id="form">
  <input type="hidden" value="" name="json" id="json"></input>
</form>
{% endblock %}

<script src="/static/js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/mode-json.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/beautify.js" type="text/javascript" charset="utf-8"></script>

<script>
var editor = null;

function showEditor(title){
  $("#editor_title").text(title);

  $("#mask").css({ width: $(window).width(), height: $(window).height() });
  $("#mask").show();

  var left = $(window).width() / 2 - 300;
  $("#editor_window").css({ left: left});
  $("#editor_window").show();

  if (!editor){
    var opts = { indent_size: 1, indent_char: '\t' };
    res = js_beautify($("#editor").text(), opts)
    $("#editor").text(res);

    editor = ace.edit("editor");
    editor.setShowPrintMargin(false);
    var JSONMode = require("ace/mode/json").Mode;
    editor.getSession().setMode(new JSONMode());
  }
}

$(document).ready(function(){
  $("#mask").click(function(){
    $("#mask").hide();
    $("#editor_window").hide();
  });

  $("#save_button").click(function(event){
    $("#json").val(editor.getSession().getValue());
    $("#form").submit();
    event.preventDefault(); 
  });
});
</script>
{% endblock %}

{% block extrascript %}
{% endblock %}

</body>

</html>
