{% extends "db/base.html" %}

{% block extrastyle %}
{% endblock %}

{% block content %}
<div id="table_container">

<div id="table_header" class="gradient">
  <h2>{{ collection.name }}</h2>
</div>

<div id="table_contents">
<table width="100%" cellspacing=0 cellpadding=0>
<tr>
  <th width="40">id</th>
  {% for key in keys %}
  <th>{{ key }}</th>
  {% endfor %}
</tr>

{% for record in records %}
<tr class="record_row {% cycle 'row1','row2' %}" record_id="{{ record.id }}">
  <td>{{ record.id }}</td>
  {% for key in keys %}
  <td>{{ record|get:key }}</td>
  {% endfor %}
</tr>
{% endfor %}

</table>

<div id="table_footer" class="gradient">
  <h2>
    {{ records|length }} records
  </h2>
</div>

</div>
{% endblock %}

{% block extrascript %}
<script>
  $(document).ready(function(){
    $(".record_row").click(function(){
      document.location.href = "/db/{{collection.name}}/" + $(this).attr("record_id") + "/";
    });
  });
</script>
{% endblock %}
