{% extends "base.html" %}

{% block extrastyle %}
<style>
table {
	border: 1px solid black;
}

table th {
	border-bottom: 1px solid black;
	border-right: 1px solid black;	
}

table td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 5px;
}
</style>
{% endblock %}

{% block content %}
<div id="dbtable">

<h2>{{ collection.name }}</h2>

<table width="100%" cellspacing=0 cellpadding=0>
<tr>
  <th>id</th>
  {% for key in keys %}
  <th>{{ key }}</th>
  {% endfor %}
</tr>

{% for record in records %}
<tr>
  <td>{{ record.id }}</td>
  {% for key in keys %}
  <td>{{ record|get:key }}</td>
  {% endfor %}
</tr>
{% endfor %}

</table>

</div>
{% endblock %}