.right {
    float: right;
}

body {
    padding-top: 50px;
}

.collection_row:hover {
    cursor: pointer;
}

.record_row:hover {
    cursor: pointer;
}

.tright {
    text-align: right;
}

#editor {
    width: 520px;
    height: 400px;
    padding: 0px;
}

#editor_help {
    float: left;
    margin-left: 540px;
}

#editor-body {
    height: 400px;
}

#editor_window {
    width: 950px;
    left: 50%;
}

#mask {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.5);
}

h1 a {
    color: #404040;
}

h1 a:hover {
    color: #404040;
}

.field_label {
    font-weight: bold;
    width: 100px;
    text-align: right;
}